:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff0e1;
    --foreground: #ededed;
  }
}
.textarea {
  background-color: rgb(131, 30, 30);
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(86, 163, 241);
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.header {
  color:red;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.surveryContainer {
  background-color: rgb(255, 225, 225);
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 500px;
  max-width: 1000px;
  height: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;

}

.prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  color: rgb(239, 87, 87);
  margin-bottom: 10px;
}

.dropdown {
  height: 50px;
  font-size: 20px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
