:root {
  --background: #ffffff;
}

::placeholder {
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.textarea {
  font-size: 13;
  border-radius: 15px;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 150px;
  height: 75px;
  padding: 15px;
  color: rgb(50, 50, 50);
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: all 0.025s ease-in-out;
}


.textarea:focus {
  transition: all 0.025s ease-in-out;
}

.outline {
  transition: all .025 ease-in-out;
  outline: 1px solid white;
}
.outline:focus {
  transition: all .025 ease-in-out;
  outline: 2px solid #0271e3
}

.main {
  display: flex;
  justify-content: center;
  
}

.header {
  color:rgb(236, 13, 13);
  text-align: center;

  
}

.surveryContainer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 75vw;
  height: auto;
  border-radius: 25px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .surveryContainer {
      width: 100vw;
  }
}

input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: solid;
  border-radius: 15px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: all 0.025s ease-in-out;
  resize: none;
}

input:focus {
  transition: all 0.025s ease-in-out;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  width: 200px;
  height: 40px;
  padding: 30px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;
  margin-top: 50px;
  background-color:#0271e3;
  color: rgb(255, 255, 255);
  text-justify: center;
  display: flex;
  align-items: center;
  justify-content: center;


}

.ratingGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.surveyStructure {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-style: solid;
  border-radius: 5px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  width: 100%;
  height: 100%;

}

.tailInputContainer {
  display: flex;
  width: 100%;
  justify-content: center;

}

.starsRating {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  height: 40px;
}
.prompt {
  display: flex;
  flex-direction: column;
  

}

.star {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

#ratingGroup:has(#star5:hover) #star5,
#ratingGroup:has(#star5:hover, #star4:hover) #star4,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover) #star3,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover) #star2,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover, #star1:hover) #star1
 {
  transition: all 0.025s ease-in-out;
  fill: rgb(255, 195, 43);
}
#ratingGroup:has(#star5.toggleStars) #star5,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars) #star4,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars) #star3,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars) #star2,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars, #star1.toggleStars) #star1
 {
  transition: all 0.025s ease-in-out;
  fill: rgb(255, 195, 43);
}
.subject {
  color:#828181;
  fill:rgba(188, 188, 188, 0.4);
  transition: fill 0.025s ease-in-out; 

}

/* #surveyStructure:has(input:focus) .subject {
  margin-top: 0;
} */

.logo {
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 50px;
}
.stars {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.fields {
  background-color: white;
}
.dropdown {
  height: 50px;
  max-width: 100%;
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;  
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  transition: all 0.025s ease-in-out;
}

/* select:focus {
  transition: all .025 ease-in-out;
  border: solid;
  border-color: rgb(255, 101, 101, .4);
  border-width: 2px;
} */

.dropdown:focus {

  transition: all 0.025s ease-in-out;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
