:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #958686;
  }
}
.textarea {
  background-color: rgb(55, 47, 47);
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(86, 163, 241);
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.header {
  color:rgb(236, 13, 13);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.surveryContainer {
  background-color: rgb(60, 57, 57);
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
}

.surveyStructure {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.starsRating {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  height: 40px;
}
.prompt {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-bottom: 10px;
}

.right {
  background-color: rgb(0, 119, 255);
  width: 100%;
  height: 1000px;
}

.left {
  background-color: rgb(212, 66, 37);
  width: 100%;
  height: 1000px;
}
.label {
  color: rgb(241, 213, 213);
  margin-bottom: 10px;
}
.star {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 5px;
}


.starDefault {
  fill:rgb(197, 183, 183);
}

#stars:has(#star5:hover) #star5,
#stars:has(#star5:hover, #star4:hover) #star4,
#stars:has(#star5:hover, #star4:hover, #star3:hover) #star3,
#stars:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover) #star2,
#stars:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover, #star1:hover) #star1
 {
  fill:rgb(255, 101, 101);
}

#stars:has(#star5.toggleStars) #star5,
#stars:has(#star5.toggleStars, #star4.toggleStars) #star4,
#stars:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars) #star3,
#stars:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars) #star2,
#stars:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars, #star1.toggleStars) #star1
 {
  fill:rgb(255, 101, 101);
}

.dropdown {
  height: 50px;
  max-width: 300px;
  font-size: 20px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
